<div class="max-width-400 center-block">
  <h3>
    <span class="glyphicon glyphicon-road"></span> {{title}}
  </h3>
  <form (change)="onChange()" #f1="ngForm">
    <div id="contract-edit" *ngIf="editContractMode">
      <div class="form-group">
        <label for="leaseDate">Lease Date</label>
        <div class="input-group input-group-lg">
          <input class="form-control" [(ngModel)]="leaseDateString" id="leaseDate" type="date" [ngModelOptions]="{standalone: true}"
            placeholder="mm/dd/yyyy" />
        </div>
      </div>
      <div class="form-group">
        <label for="leaseMonths">Lease Months</label>
        <div class="input-group input-group-lg">
          <input class="form-control" id="leaseMonths" [(ngModel)]="leaseMonths" type="number" [ngModelOptions]="{standalone: true}"
            placeholder="Contract is for X months" /><span class="input-group-addon">months</span>
          <datalist id="lmos">

            <option *ngFor="let lmo of lmos2" value="{{lmo.value}}">
              {{lmo.label}}
            </option>
          </datalist>
        </div>
        <!--<select2 [data]="lmos2"></select2>-->
      </div>
      <div class="form-group">
        <label for="costPerMile">Cost Per Extra Mile      
        </label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">$</span>
          <input class="form-control" list="cpmos" id="costPerMile" [(ngModel)]="costPerMile" type="number" [ngModelOptions]="{standalone: true}"
            placeholder="Cost per mile" />
          <datalist id="cpmos">
            <option *ngFor="let cpmo of costPerMileOptions" value="{{cpmo.value}}">
              {{cpmo.value | currency:'USD':'$':'1.2-2'}}
            </option>
          </datalist>
        </div>

      </div>
      <div class="form-group">
        <label for="milesPerYear">Miles Per Year      
      </label>
        <div class="input-group input-group-lg">
          <input class="form-control" list="milesPerYearOptions" id="milesPerYear" [(ngModel)]="milesPerYear" type="number" [ngModelOptions]="{standalone: true}"
            placeholder="Contracted miles per year" />
          <span class="input-group-addon">miles</span>
          <datalist id="milesPerYearOptions">
            <option *ngFor="let milesPerYear of milesPerYearOptions" value="{{milesPerYear}}">{{milesPerYear}}</option>
          </datalist>
        </div>
      </div>
      <div>
        <button type="button" (click)="saveContract()" class="btn btn-primary">Save Contract</button>
        <button type="button" (click)="resetContract()" class="btn">Reset Contract</button>
      </div><br>
    </div>

    <div id="contract-display" *ngIf="!editContractMode">
      <div>
        <label>Lease Date:     
        </label>
        <span>{{leaseDateString | date:short}}</span>
      </div>
      <div>
        <label>Lease Months:          
        </label>
        <span>{{leaseMonths}}</span>
      </div>
      <div>
        <label>Cost Per Extra Mile:          
        </label>
        <span>${{costPerMile | number:'1.2-2'}}</span>
      </div>
      <div>
        <label>Miles Per Year:          
        </label>
        <span>{{milesPerYear}}</span>
      </div>

      <div>
        <button type="button" (click)="editContract()" class="btn btn-primary">Edit Contract</button>
      </div><br>

      <div class="form-group">
        <label>Odometer Reading
        <div class="input-group input-group-lg">
          <div class="input-group-btn">
            <button type="button" class="btn" (click)="decreaseCurrentMiles(50)">-50</button>
            <button type="button" class="btn" (click)="decreaseCurrentMiles(10)">-10</button>
          </div>
      <input class="form-control" [(ngModel)]="currentMiles" #odometerReading type="number" [ngModelOptions]="{standalone: true}" placeholder="Miles"
      />
      <div class="input-group-btn">
            <button type="button" class="btn" (click)="increaseCurrentMiles(10)">+10</button>
                        <button type="button" class="btn" (click)="increaseCurrentMiles(50)">+50</button>

          </div>
      <!--<span class="input-group-addon">miles</span>-->
      </div>
      </label>
      </div>

      <div *ngIf="currentMilesLimit" class="odometer-limit" [class.over-limit]="percentage > 1" [class.below-limit]="percentage < 1"><label>Should be below:</label><span> {{currentMilesLimit | number: '1.0-0'}}</span></div>
      <!--<div *ngIf="milesPerYear"><label>Total paid miles:&nbsp;</label><span class="">{{milesPerYear * leaseMonths / 12 | number: '1.0-0'}}</span></div>-->
      <div *ngIf="estimatedMilesEnd"><label>Estimated miles: </label><span class=""> {{estimatedMilesEnd | number: '1.0-0'}}</span></div>
      <div *ngIf="estimatedExtraPayment > 0"><label>Extra payment estimated: </label><span> {{estimatedExtraPayment | currency:'USD':'$':'1.0-0' }}</span></div>
      <div *ngIf="percentage"><label>Percentage: </label><span class=""> {{percentage | percent:'1.0-0'}}</span></div>
      <div *ngIf="milesPerDay"><label>Average miles daily: </label><span class=""> {{milesPerDay | number:'1.0-0'}}</span></div>

      <div *ngIf="percentage > 1" style="color: red">You should park your car for&nbsp;<span class="large">{{daysToPause | number: '1.0-0'}}</span> days in order to stay
        under the miles limit</div>



      <!--<app-gauge [value]="percentage" [rangeLow]="0" [rangeHigh]="1"></app-gauge>-->
    </div>

    <!--<div style="color: red;">
      DEBUG INFO:<br> {{f1.className}}
    </div>-->


  </form>
</div>